.media-widget-preview .button {
	text-align: center
}

.media-widget-preview .wp-caption {
	max-width: 100%;
	margin: 0;
}

.media-widget-preview .image {
	height: auto;
	max-width: 100%;
}

.media-widget-preview .aligncenter {
	display: block;
	margin: 0 auto;
	text-align: center
}

.media-widget-buttons {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.media-widget-buttons .button {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	-ms-flex: 1;
	flex-grow: 1;
	width: 50%;
}
.media-widget-preview.has-attachment .media-widget-buttons .button ~ .button {
	margin-left: 5px;
}

.media-widget-preview:not(.has-attachment) .media-widget-buttons .edit-media {
	display: none;
}
