
.media-widget-control.selected .not-selected,
.media-widget-control:not(.selected) .selected {
	display: none;
}

.media-widget-buttons {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

.media-widget-buttons .button {
	-webkit-box-flex: 0 0 auto;
	-webkit-flex-grow: 0 0 auto;
	-moz-box-flex: 0 0 auto;
	-ms-flex-positive: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex-grow: 0 0 auto;
}
.media-widget-buttons .button {
	margin-left: 10px;
}
.media-widget-control:not(.selected) .media-widget-buttons .button,
.media-widget-buttons .button:first-child {
	margin-left: 0;
}
