.media-widget-preview .button {
	text-align: center
}

.media-widget-preview .wp-caption {
	max-width: 100%;
	margin: 0;
}

.media-widget-preview .image {
	height: auto;
	max-width: 100%;
}

.media-widget-preview .aligncenter {
	display: block;
	margin: 0 auto;
	text-align: center
}

.media-widget-preview.has-attachment .select-media,
.media-widget-preview.has-attachment .edit-media {
	width: 48%;
}

.media-widget-preview .edit-media {
	display: none;
}

.media-widget-preview.has-attachment .edit-media {
	display: inline-block;
}
